@charset "UTF-8";
.top {
    width: 100%;
    text-align: center; 
    margin-top: 3%;
}
header .top img{ /*top画像*/
    width: 95%;
    border-bottom: 20px double black;
}
body{
    background-image: url("https://github.com/hntokj/jmweb_home.com/blob/main/web-bg.jpg?raw=true");
    background-size: contain;
    width:100%;
}



/*ボタン⬇️*/
article ul li a{
    background-color:rgba(255, 0, 0, 0.7);
    display:block;
    padding:20px;
    font-size: 20px;
}
article ul{
    width: 70%;
    margin: 20px auto;
    text-align: center; 
}
article ul li{/*ボタンの間*/
    margin-bottom:15px;
}
article ul li a:hover{
text-decoration: underline double;
}
article nav{
    width:70%;
    background-image: url("https://github.com/hntokj/jmweb_home.com/blob/main/web_top%E3%81%BB%E3%82%99%E3%81%8B%E3%81%97.png?raw=true"); 
    background-size: contain;
    background-size: 100%;
    margin: 40px auto;
    padding:10px 0px;
}


main{
    padding:30px;
}
main section h4{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}
main section nav{/*かこい*/
    width: 100%;
    background-color: aliceblue;
    margin: 10px auto;
}
main section ul{
    display:flex;
    margin: 10px auto;
}
main section ul li{
    font-size: 18px;
    padding: 50px 3px;
}
main section ul li a{
    color: blue;
    border-bottom: 1px solid blue;
}
main section nav img{
    width:200px;
    padding-left: 0px;
    padding: 10px;
}
h4{
    color: white;
}

.anim-box {
    background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
  }
 
